<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="../static/photo/icon.png" type="image/x-icon" />
    <link rel="stylesheet" href="../static/styles/bootstrap.min.css" />
    <link rel="stylesheet" href="../static/styles/global.css" />
    <title>خطا اضافه شدن درس</title>
  </head>
  <body>
    <div class="container border shadow mt-5 w-50">
      <div class="d-flex justify-content-center">
        <h1 class="mt-4">.کلاسی برای اختصاص به درس شما یافت نشد</h1>
      </div>
      <div class="mt-5 mb-2 d-flex justify-content-center">
        <button class="btn border">
          <a href="./lessons.html" class="link-success">برگشت به صفحه درس ها</a>
        </button>
      </div>
    </div>

    <script src="../static/scripts/bootstrap.bundle.min.js"></script>
  </body>
</html>
